<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/navigation") %>

        <h2>Login</h2>
        <form method="POST">
            
            <div>
                <label>Login</label><br />
                <input name="name" value=""  required />
            </div>
            <br />
            <div>
                <label>Password</label><br />
                <input name="password" value=""  required />
            </div>
            <br />
            
            <button type="submit" style="color: purple"> Login</button>
        </form>
        <br /><br /><br />
        
    </body>
</html>